<div class="container content-container well">
    <a href="https://github.com/n2design1/MEAN-Stack"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
    <h1>How this webapp was made</h1>
<ul>
    <li>Mongo/Mongoose - DB</li>
    <li>Express - Backend Framework</li>
    <li>Angular - View</li>
    <li>Angular Generator</li>
    <li>Node - Server</li>
    <li>Bootstrap-SASS </li>
    <li>MVCSS - Coding Style</li>
    <li>Sass/Compass - CSS Framework</li>
    <li>Bower -Frontend Package Manager</li>
    <li>Grunt</li>
</ul>

    <p>There are several UI/UX inspiration blog/websites out there. My favorite is CoDrops! Be sure to check them out. Some of their demos can be seen on the trending UX/UI page. </p>
</div>